name: Publish to pub.dev

on:
  push:
    tags:
      - "openapi_mock-v[0-9]+.[0-9]+.[0-9]+*"
      - "openapi_mock_http-v[0-9]+.[0-9]+.[0-9]+*"
      - "openapi_mock_dio-v[0-9]+.[0-9]+.[0-9]+*"
      - "openapi_mock_server-v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  publish_openapi_mock:
    if: startsWith(github.ref, 'refs/tags/openapi_mock-v')
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: Publish openapi_mock
        run: |
          cd packages/openapi_mock
          dart pub publish --force

  publish_openapi_mock_http:
    if: startsWith(github.ref, 'refs/tags/openapi_mock_http-v')
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: Publish openapi_mock_http
        run: |
          cd packages/openapi_mock_http
          rm -f pubspec_overrides.yaml
          dart pub publish --force

  publish_openapi_mock_dio:
    if: startsWith(github.ref, 'refs/tags/openapi_mock_dio-v')
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: Publish openapi_mock_dio
        run: |
          cd packages/openapi_mock_dio
          rm -f pubspec_overrides.yaml
          dart pub publish --force

  publish_openapi_mock_server:
    if: startsWith(github.ref, 'refs/tags/openapi_mock_server-v')
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: Publish openapi_mock_server
        run: |
          cd packages/openapi_mock_server
          rm -f pubspec_overrides.yaml
          dart pub publish --force
